/*hero*/
#hero .img-hero{
    width: 22%;
    z-index: 0;
    top: 10px;
    margin-top: -40px;
    margin-left: 150px;
}
#hero .img-leading{
    margin-right: 100px;
    width: 100%;
    display: block;
    z-index: 1;
}
#hero .container-fluid{
    padding-top: 50px;
}
#hero .carousel-container {
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
}

/* hero2 */
#hero2 .img-hero{
    width: 230px;
    height: 31px;
    z-index: 0;
    top: 10px;
    margin-top: -40px;
    /* margin-left: -40px; */
}
#hero2 .img-leading{
    margin-right: 100px;
    width: 100%;
    height: 100vh;
    display: block;
}
#hero2 .container-fluid{
    padding-top: 50px;
}


#hero2 .carousel-container {
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
}

#hero2 h2 {
    margin-left: 108px;
    color: #fff;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: 700;
}
#hero2 p {
    /* width: 70%; */
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin-left: 108px;
    color: #fff;
}

/*laporan*/
#laporan {
    padding-top: 174;
    background: #FFFFFF;
}
#laporan .icon-box{
    background: rgba(6, 69, 20);
}

.img-mitra {
    width: 13%;
}

/*survey*/
#survey .survey{
    padding: 120px 0 120px 0;
    background: #FFFFFF;
    z-index: -1;
}
#survey .icon-box{
    background: rgba(6, 69, 20);
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

/* .img-mitra {
    width: 13%;
} */

#survey .img-survey {
    margin-left: -180px;
    margin-right: 130px;
    position: relative;
}

/*penjelasan*/
#penjelasan {
    margin-top: -270px;
    background-color: #08681E;
    color: #FFFFFF;
    padding-bottom: 441px;
}

#penjelasan ul{
    padding-left: 0px;
}

#penjelasan h4{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

#penjelasan p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color : rgba(255, 255, 255, 0.7);
}

#penjelasan li b{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

#penjelasan .apts.container.sides{
    padding-top: 254px;
}

#penjelasan .container{
    padding-top: 133px;
}

/*langkah*/
#langkah {
    background: #FFFFFF;
}
#langkah .icon-box{
    margin-top: -250px;
    height: 359px;
    background: rgba(6, 69, 20);
}
#langkah .text-langkah{
    padding-top: 50px;
}
#langkah .img-langkah{
    margin-top: -230px;
}

#langkah h4{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

#langkah p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color : rgba(255, 255, 255, 0.7);
}

/*langkah2*/
#langkah2 {
    background: #FFFFFF;
}
#langkah2 .icon-box{
    margin-top: -200px;
    height: 318px;
    background: rgba(6, 69, 20);
}
#langkah2 .text-langkah2{
    padding-top: 5px;
}
#langkah2 .img-langkah2{
    margin-top: -147px;
}

#langkah2 h4{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

#langkah2 p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color : rgba(255, 255, 255, 0.7);
}

/*video*/
#video {
    background: #FFFFFF;
}
#video .icon-box{
    margin-top: 141px;
    background: rgba(6, 69, 20);
    margin-bottom: 180px;
}

#video h4{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

#video p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color : rgba(255, 255, 255, 0.7);
}

#video .video-pengenalan{
    border-radius: 1rem;
}

/* program */

.program .content h2 {
    color: #000;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.program .content h2.linkan-title {
    color: #28A745;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.program .content h2 b {
    color: #FFA304;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.program .content p {
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 160%; */
    color: #354052;
}

.program .program-box {
    height: 22rem; 
    background-color: #FFFFFF; 
    box-shadow: 0px 20px 50px rgba(47, 50, 125, 0.1);
    border-radius: 15px;
}

.program .content h4 {
    text-align: justify;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
}

/*icon-boxes*/
#icon-boxes{
    background-color: #FFFFFF;
}

#icon-boxes .icon-box{
    margin-top: -90px;
    background-color: #FFFFFF;
    z-index: -1;
}

#icon-boxes .icon-box h4{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}
#icon-boxes .icon-box p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
}
#icon-boxes .sides{
    margin-top: 100px;
}
#icon-boxes .sides ol{
    list-style-type: none;
}
#icon-boxes .sides ol li{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}
#icon-boxes .tagline{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

#icon-boxes .box-info{
    margin-left: 10%;
    align-items: center;
    width: 1200px;
    height: 296px;
    background: #064514;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    padding: 80px 10px 10px 0px;
}

#icon-boxes .box-info .container{
    margin-left: 30px;
}
#icon-boxes .box-info img{
    margin-top: -210px;
}

.about .content h2 {
    color: #000;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.about .content h2.linkan-title {
    color: #28A745;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.about .content h2 b {
    color: #FFA304;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.about .content p {
    text-align: justify;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #354052;
}

.about .content h4 {
    text-align: justify;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
}

.why-us .content h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 46px;
    color: #354052;
}

.why-us .content p {
    text-align: justify;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #354052;
}

#portfolio .portofolio-container #portfolio-side1 {
    height: 350px;
    left: 0px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}

#portfolio .portofolio-container #portfolio-side2 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}
#portfolio .portofolio-container #portfolio-side3{
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}
#portfolio .portofolio-container #portfolio-side4{
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}
#portfolio .portofolio-container #portfolio-side5{
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}

#portfolio .portofolio-container #portfolio-content {
    height: 350px;
    background: #396113;
    padding: 40px 57px 80px 56px;
    font-family: 'Rubik';
    font-style: normal;
    color: #FFFFFF;
}

#portfolio-content h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
}

#portfolio-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}
#portfolio-content .btn-portfolio {
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 10px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}
/*--------------------------------------------------------------
# Check Status
--------------------------------------------------------------*/
#check-status {
    font-family: 'Rubik';
    font-style: normal;
    background: #FFFFFF;
}
#check-status .icon-box{
    margin-top: -250px;
    height: 359px;
    background: rgba(6, 69, 20);
    border-radius: 16px;
}

#check-status .section-tittle h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

#check-status .section-tittle p{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

#check-status form{
    color: #FFFFFF;
}

#check-status button{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    display: inline-block;
    padding: 8px 16px;
    transition: 0.5s;
    background: #FFA304;
    border-radius: 4px;
}

#team .section-title p{
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    color: #354052;
}
.bg-lime{
    background-color: #E8F0E0;
    color: #E8F0E0;
}
.date-badge{
    float: right;
    align-items: flex-end;
    display: flex;
}
.bg-grey{
    background-color: #E3EAEF;
    color: #E3EAEF;
}
.text-lime{
    color: #396113;
}
.text-grey{
    color: #8F90A6;
}
.leading-berita{
    font-weight: bold;
    font-size: 20pt;
}
#footer .footer-divider{
    border-radius: 3px;
    height: 4px;
    left: 0px;
    top: 100.39px;
    background: #FFFFFF;
}
/*keterangan*/
#keterangan {
    background-color: #08681E;
    color: #FFFFFF;
    padding-bottom: 300px;
}

#keterangan ul{
    padding-left: 0px;
}

#keterangan h4{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

#keterangan p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color : rgba(255, 255, 255, 0.7);
}

#keterangan li b{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

/* #keterangan .apts.container.sides{
    padding-top: 254px;
}  */

 /* #keterangan .container{
    padding-top: 133px;
} */

/*keterangan*/
#keterangan {
    background-color: #08681E;
    color: #FFFFFF;
}

/* #keterangan .apts.container.sides{
    padding-top: 554px;
} */

/* Alumni */
#prestasi {
    margin-top: 0.5em;
}

.hero-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
}

.hero-subtitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
}

.hero-selengkapnya {
    margin-left:auto;
    margin-bottom: 5em;
    background: #FFA304;
    border-radius: 4px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.title-prestasi {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
}

.subtitle-prestasi {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%
}

.nama-prestasi {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}

.duta-prestasi {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
}

.kata-prestasi {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.title-alumni {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
}

.p-alumni {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
}

.sub-alumni {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
}

.card-alumni-27 {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(47, 50, 125, 0.1);
    border-radius: 24px;
    border-color: #FFFFFF;
    width: 18rem;
    height: 27rem;
}

.card-alumni-30 {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(47, 50, 125, 0.1);
    border-radius: 24px;
    border-color: #FFFFFF;
    width: 18rem;
    height: 30rem;
}

.card-alumni-1 {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(47, 50, 125, 0.1);
    border-radius: 24px;
    border-color: #FFFFFF;
    width: 18rem;
    height: 25rem;
}

.piala-card {
    width: 50%;
    position: absolute;
    right: -60px;
    top: -60px;
    margin: 0px;
    padding: 0px;
}

.daftar-alumni-card {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.daftar-alumni {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
}

.button-live-preview {
    background: #FFFFFF;
    border: 1px solid #669F2F;
    border-radius: 4px;
    color: #669F2F;
}

.button-live-preview:hover {
    background: #669F2F;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
}

.button-download {
    background: #669F2F;
    border-radius: 4px;
    border-color: #669F2F;
    color: #FFFFFF;
}

.button-download:hover {
    background: #FFFFFF;
    border-radius: 4px;
    border-color: #669F2F;
    color: #669F2F;
}


@media (max-width:400px) {
    /*hero*/
    #hero .carousel-container{
        margin-top: 0px;
    }

    /*laporan*/
    #laporan {
        padding-top: 100px;
        background: #FFFFFF;
    }
    #laporan .icon-box{
        background: rgba(6, 69, 20, 0.9);
    }

    .img-mitra {
        width: 13%;
    }

    /*penjelasan*/
    #penjelasan {
        margin-top: -650px;
        background-color: #08681E;
        color: #FFFFFF;
    }

    #penjelasan .apts.container.sides{
        padding-top: 554px;
    }

    #portfolio .portofolio-container #portfolio-side1 {
        height: 350px;
        background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
            url(../img/layanan/layanan-1.png);
    }

    #portfolio .portofolio-container #portfolio-side2 {
        height: 350px;
        background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
            url(../img/layanan/layanan-2.png);
    }

    #portfolio .portofolio-container #portfolio-content {
        height: 350px;
        background: #396113;
        padding: 50px 10px 10px 20px;
    }

    .services .navbar-next {
        width: 500px;
        top: 0px;
        background: #669F2F;
        box-shadow: 0px 20px 50px rgba(47, 50, 125, 0.1);
        border-radius: 15px;
    }

    .services .navbar-next div {
        width: 60px;
        height: 60px;
        margin-top: 45%;
        margin-left: 15%;
        align-items: center;
    }

    .services .navbar-next b {
        margin-top: 50%;
        font-family: 'Rubik';
        font-style: normal;
    }
}