.input-group{
    position: relative;
}

.input{
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}

.input-password{
    padding: 10px;
    border: none;
    width: 95%;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}

.input-text{
    padding: 10px;
    border: none;
    width: 5%;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}

.input-label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform: transform .25s;
}

.input:focus+.input-label,
.input:valid+.input-label{
    transform: 
    translate(10px, -14px) scale(.8);
    color: #d1c5fc;
    padding-inline: 5px;
    background-color: #242329;
}

.input:is(:focus, :valid){
    outline-color: #d1c5fc;
}

.input-password+.input-label,
.input-password:valid+.input-label{
    transform: 
    translate(10px, -14px) scale(.8);
    color: #d1c5fc;
    padding-inline: 5px;
    background-color: #242329;
}

.input-password:is(:focus, :valid){
    outline-color: #d1c5fc;
}

#bg-setting img {
    background-color: var(--warna);
}

.text-tema {
    color: var(--warna);
}