body {
  background-image: url("../img/login/bg.png");
  height: 100%;
  background-repeat: repeat;
}

#login {
  font-family: 'Poppins';
  font-style: normal;
  overflow: hidden;
}

.bg-light-green {
  background-color: #e29d09;
}

.top-border {
  border-radius: 8px 8px 0px 0px;
  height: 4px;
}

#login .login-container {
  margin: 0px;
  padding: 0px;
}

#login .card {
  border-radius: 0px 0px 8px 8px;
}

#login h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 180%;
  color: #000000;
}

#login p {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #6B6B6B;
}

#login .btn-alumni {
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #e29d09;
  border-radius: 4px;
}

#login .btn-industri {
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #e29d09;
  border-radius: 4px;
}

#login .copyright{
  margin: 1rem 0px 0px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

#login .copyright span {
  color: #333333;
}

#login .text-tema {
  color: var(--warna);
}