/**
* Template Name: Anyar - v4.7.1
* Template URL: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: 'Rubik', normal;
    color: #444444;
}

a {
    text-decoration: none;
    color: #064514;
}

a:hover {
    color: #2b99f8;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', normal;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #064514;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #064514;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #452f06;
    border-top-color: #bfe0fd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
    height: 60px;
    padding: 0;
    font-size: 14px;
    transition: all 0.5s;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
    z-index: 996;
}

#topbar.topbar-scrolled {
    top: -60px;
}

#topbar .contact-info a {
    line-height: 0;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    text-decoration: underline;
}

#topbar .contact-info i {
    color: #f6b024;
    line-height: 0;
    margin-right: 5px;
}

#topbar .contact-info .phone-icon {
    margin-left: 15px;
}

#topbar .cta {
    background: transparent;
}

#topbar .cta a {
    color: #fff;
    background: #f6b024;
    padding: 6px 24px 8px 24px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
}

#topbar .cta a:hover {
    background: #f1a40a;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
    background-color: #064514;
}

#header.header-scrolled {
    background: rgba(6, 69, 20, 0.95);
    top: 0;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

.header-inner-pages {
    background: rgba(5, 87, 158, 0.9) !important;
}

.topbar-inner-pages {
    background: rgba(6, 98, 178, 0.9) !important;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}


/*.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}*/

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #FFA304;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #00380D;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 8px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: white;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #FFA304;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation
*/

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #f6b024;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #064514;
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #0665b7;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #f6b024;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #f6b024;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    height: 932px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-color: #064514;
    position: relative;
    transition: 0.3s;
}

#hero:before {
    content: "";
    background: rgba(6, 69, 20, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px 0px 100px 0px;
}

#hero h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 30px;
}

#hero p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0px 0px 30px 0px;
    color: #fff;
}

#hero .btn-get-started {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #FFFFFF;
}

#hero .btn-get-started:hover {
    background: #FFA304;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px),
(max-height: 700px) {
    #hero {
        height: 120vh;
        padding: 100px 0;
    }
    #hero h2 {
        font-size: 28px;
    }
}


/*--------------------------------------------------------------
# Hero2 Section
--------------------------------------------------------------*/

#hero3 {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: url("../img/alumni/pattern-hero.png") top center;
    background-size: cover;
    position: relative;
    background-color: #064514;
    /*margin-bottom: -90px;*/
    /*z-index: 99;*/
    transition: 0.3s;
}

#hero2 {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    background: url("../img/alumni/pattern-hero.png") top center;
    background-size: cover;
    position: relative;
    background-color: #064514;
    /*margin-bottom: -90px;*/
    /*z-index: 99;*/
    transition: 0.3s;
}

#hero2:before {
    content: "";
    background: rgba(6, 69, 20, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


/* #hero2 .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

#hero2 h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#hero2 p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#hero2 .carousel-control-prev,
#hero2 .carousel-control-next {
    width: 10%;
}

#hero2 .carousel-control-next-icon,
#hero2 .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero2 .btn-get-started {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #fff;
}

#hero2 .btn-get-started:hover {
    background: #f6b024;
    color: #fff;
    text-decoration: none;
    border: none;
}

@media (min-width: 1024px) {
    #hero2 p {
        width: 60%;
    }
    #hero2 .carousel-control-prev,
    #hero2 .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px),
(max-height: 700px) {
    #hero2 {
        height: 120vh;
        padding: 100px 0;
    }
    #hero2 h2 {
        font-size: 28px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
}

.section-bg {
    background-color: #f1f8ff;
}

.section-title {
    font-family: 'Rubik';
    font-style: normal;
    text-align: center;
    padding-bottom: 30px;
    color: #354052;
}

.section-title h2 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
}

.section-title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
}


/*--------------------------------------------------------------
# Icon Boxes
--------------------------------------------------------------*/

.icon-boxes {
    margin-top: -40px;
    background-color: #FFFFFF;
    z-index: -1;
}

.icon-boxes .icon-box {
    padding: 40px 30px;
    position: relative;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.icon-boxes .icon {
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
}

.icon-boxes .icon i {
    font-size: 36px;
    line-height: 1;
    color: #f6b024;
}

.icon-boxes .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.icon-boxes .title a {
    color: #05579e;
}

.icon-boxes .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: #777777;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

.about {
    margin: 124px 120px 0px 120px;
    position: relative;
    padding: 0 0 125px 0;
}

.about .container {
    position: relative;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #064514;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .about {
        margin: 31px 0px 0px 0px;
        position: relative;
    }
}


/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/

#tutorVideo .input[type="text"] {
    border: none;
    padding: 0 15px;
}

#tutorVideo .button {
    position: relative;
    border: none;
    
}


/*--------------------------------------------------------------
# Program
--------------------------------------------------------------*/

.program {
    padding: 140px 0;
    /* background: url("../img/program-bg.png") top center no-repeat; */
    position: relative;
}

.program:before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.program .container {
    position: relative;
}

.program .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.program .content ul {
    list-style: none;
    padding: 0;
}

.program .content ul li {
    padding-left: 28px;
    position: relative;
}

.program .content ul li+li {
    margin-top: 10px;
}

.program .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #064514;
    line-height: 1;
}

.program .content p:last-child {
    margin-bottom: 0;
}

.program .content .btn-learn-more {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #064514;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #064514;
}

.program .content .btn-learn-more:hover {
    background: #064514;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 992px) {
    .program {
        padding: 60px 0;
    }
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/

.alumni-berprestasi {
    background: #F5F5F5;
    padding: 160px 120px 97px 120px;
}

.alumni-berprestasi .content {
    padding: 0px 0px 0 0px;
}

.alumni-berprestasi .section-title {
    font-family: 'Rubik';
    font-style: normal;
    text-align: left;
    padding-bottom: 30px;
    color: #354052;
}

.alumni-berprestasi .slider-alumni {
    position: relative;
    width: 100%;
}

.alumni-berprestasi .overlay {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.alumni-berprestasi .slider-alumni:hover .overlay {
    opacity: 1;
}

.alumni-berprestasi .text {
    font-family: 'Rubik';
    font-style: normal;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 6.32%;
    right: 6.32%;
    top: 74.89%;
    bottom: 3.62%;
    text-align: left;
}

.alumni-berprestasi .text h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.alumni-berprestasi .text h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
}

.alumni-berprestasi .text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1024px) {
    .alumni-berprestasi {
        background: #f1f8ff;
        padding: 0px 0px 0px 0px;
    }
    .alumni-berprestasi .content,
    .alumni-berprestasi .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .alumni-berprestasi .content {
        padding-top: 30px;
    }
    .alumni-berprestasi .accordion-list {
        padding-bottom: 30px;
    }
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.pekerjaan-impian .icon-box {
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.pekerjaan-impian .icon-box i {
    float: left;
    color: #f6b024;
    font-size: 40px;
    line-height: 0;
}

.pekerjaan-impian .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.pekerjaan-impian .icon-box h4 a {
    color: #05579e;
    transition: 0.3s;
}

.pekerjaan-impian .icon-box h4 a:hover {
    color: #064514;
}

.pekerjaan-impian .icon-box p {
    /* margin-left: 70px; */
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.pekerjaan-impian .perusahaan {
    float: left;
    overflow: hidden;
    display: none;
    /* Hidden by default */
}

.pekerjaan-impian .show {
    display: block;
}

.pekerjaan-impian .section-title .filter {
    background-color: #E3EAEF;
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 1rem;
    padding: 8px;
}

.pekerjaan-impian .section-title .filter .filter-item {
    align-items: center;
    padding: 4px 10px;
    position: static;
    width: 146px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 20px 10px 8px 8px;
}

.pekerjaan-impian .icon-box h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.pekerjaan-impian .icon-box p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #8F90A6;
}

.pekerjaan-impian .section-title #pekerjaan-impian-filters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    background-color: #E3EAEF;
}

.pekerjaan-impian .section-title #pekerjaan-impian-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #8F90A6;
    margin: 10px 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
}

.pekerjaan-impian .section-title #pekerjaan-impian-filters li:hover,
.pekerjaan-impian .section-title #pekerjaan-impian-filters li.filter-active {
    color: #064514;
    background: #FFFFFF;
}

.pekerjaan-impian .section-title #pekerjaan-impian-filters li:last-child {
    margin-right: 0;
}


/*--------------------------------------------------------------
# Kuesioner
--------------------------------------------------------------*/

.kuesioner .icon-box {
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.kuesioner .icon-box i {
    float: left;
    color: #f6b024;
    font-size: 40px;
    line-height: 0;
}

.kuesioner .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.kuesioner .icon-box h4 a {
    color: #05579e;
    transition: 0.3s;
}

.kuesioner .icon-box h4 a:hover {
    color: #064514;
}

.kuesioner .icon-box p {
    /* margin-left: 70px; */
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.kuesioner .perusahaan {
    float: left;
    overflow: hidden;
    display: none;
    /* Hidden by default */
}

.kuesioner .show {
    display: block;
}

.kuesioner .section-title .filter {
    background-color: #E3EAEF;
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 1rem;
    padding: 8px;
}

.kuesioner .section-title .filter .filter-item {
    align-items: center;
    padding: 4px 10px;
    position: static;
    width: 146px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 20px 10px 8px 8px;
}

.kuesioner .icon-box h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.kuesioner .icon-box p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #8F90A6;
}

.kuesioner .section-title #kuesioner-filters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    background-color: #E3EAEF;
}

.kuesioner .section-title #kuesioner-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #8F90A6;
    margin: 10px 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
}

.kuesioner .section-title #kuesioner-filters li:hover,
.kuesioner .section-title #kuesioner-filters li.filter-active {
    color: #064514;
    background: #FFFFFF;
}

.kuesioner .section-title #kuesioner-filters li:last-child {
    margin-right: 0;
}


/*bg*/

.btn-perusahaan {
    background-color: #E3EAEF;
    color: #8F90A6;
}

.btn-perusahaan:hover {
    background-color: #669F2F;
    color: white;
}

.btn-login {
    padding: 12px 57.5px 12px 57.5px !important;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
}

.btn-login:hover {
    background-color: #FFA304;
    color: #FFFFFF !important;
}

.bg-green-y {
    background-color: #E8F0E0;
    color: #396113;
}


/*--------------------------------------------------------------
# Portfoio
--------------------------------------------------------------*/

#layanan .layanan-container #layanan-side1 {
    height: 350px;
    left: 0px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-side2 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-side3 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-side4 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-side5 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-content {
    height: 350px;
    background: #396113;
    padding: 40px 57px 80px 56px;
    font-family: 'Rubik';
    font-style: normal;
    color: #FFFFFF;
}

#layanan-content h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
}

#layanan-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

#layanan-content .btn-layanan {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 10px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

#layanan-content .btn-layanan:hover {
    background: #FFA304;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}


/*--------------------------------------------------------------
# berita
--------------------------------------------------------------*/

.bg-lime {
    background-color: #E8F0E0;
    color: #E8F0E0;
}

.date-badge {
    float: right;
    align-items: flex-end;
    display: flex;
}

.bg-grey {
    background-color: #E3EAEF;
    color: #E3EAEF;
}

.text-lime {
    color: #396113;
}

.text-grey {
    color: #8F90A6;
}

.leading-berita {
    font-weight: bold;
    font-size: 20pt;
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

.faq .faq-list {
    padding: 0 100px;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #75bdfa;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #343a40;
}

.faq .faq-list a.collapsed:hover {
    color: #064514;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}


/*--------------------------------------------------------------
Verifikasi Alumni
# Banner
--------------------------------------------------------------*/

#banner {
    background-color: #064514;
    color: #FFFFFF;
    font-family: 'Rubik';
    font-style: normal;
}

#banner .container-banner {
    margin-right: 0px;
    margin-left: 120px;
    padding-right: 0px;
}

#banner h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

#banner p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

#banner .btn-get-started {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #FFFFFF;
}

#banner .btn-get-started:hover {
    background: #FFA304;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}


/*--------------------------------------------------------------
# Alur Pengajuan
--------------------------------------------------------------*/

#alur-pengajuan {
    font-family: 'Rubik';
    font-style: normal;
}

#alur-pengajuan .section-tittle h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #354052;
}

#alur-pengajuan .section-tittle p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #354052;
}

#alur-pengajuan .card-langkah {
    background: rgba(102, 159, 47, 0.12);
    border-radius: 16px;
    padding: 10px 16px;
    margin: 20px 0px;
}

#alur-pengajuan .card-langkah img {
    padding-right: 10px;
}

#alur-pengajuan .card-langkah h2 {
    font-weight: 1000;
    font-size: 20px;
    line-height: 160%;
    color: #354052;
}

#alur-pengajuan .penjelasan p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #354052;
}

#alur-pengajuan .penjelasan a {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #89C64C;
    text-decoration: underline;
}

#alur-pengajuan .badge {
    width: 36px;
    height: 36px;
    background-color: #FFA304;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    padding-top: 3px;
}


/*--------------------------------------------------------------
# Form Pengajuan
--------------------------------------------------------------*/

#form-pengajuan {
    background-color: #F5F5F5;
    font-family: 'Rubik';
    font-style: normal;
    padding-bottom: 325px;
}

#form-pengajuan .section-tittle h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #354052;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #064514;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #064514;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    margin: 3px;
    background: #f6b024;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #064514;
}

#footer .footer-top {
    background: #064514;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    /*background: #FFA304;*/
    color: #FFA304;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #5db1f9;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: 0.3s;
    display: inline-block;
}

#footer .footer-top .footer-links ul a:hover {
    color: #FFA304;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #f6b024;
}

#footer .footer-divider {
    border-radius: 3px;
    height: 4px;
    left: 0px;
    top: 100.39px;
    background: #FFFFFF;
}

@media (max-width:400px) {
    /*hero*/
    #hero .carousel-container {
        margin-top: 0px;
    }
    /*laporan*/
    #laporan {
        padding-top: 100px;
        background: #FFFFFF;
    }
    #laporan .icon-box {
        background: rgba(6, 69, 20, 0.9);
    }
    .img-mitra {
        width: 13%;
    }
    /*penjelasan*/
    #penjelasan {
        margin-top: -650px;
        background-color: #08681E;
        color: #FFFFFF;
    }
    #penjelasan .apts.container.sides {
        padding-top: 554px;
    }
    #layanan .layanan-container #layanan-side1 {
        height: 350px;
        background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-1.png);
    }
    #layanan .layanan-container #layanan-side2 {
        height: 350px;
        background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-2.png);
    }
    #layanan .layanan-container #layanan-content {
        height: 350px;
        background: #396113;
        padding: 50px 10px 10px 20px;
    }
}