#hero .img-hero{
    width: 22%;
    z-index: 0;
    top: 10px;
    margin-top: -40px;
    margin-left: 150px;
}
#hero .img-leading{
    margin-right: 100px;
    width: 100%;
    display: block;
    z-index: 1;
}
#hero .container-fluid{
    margin-bottom: -100px;
}
#heroCarousel .carousel-item .carousel-container .form-hero{
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    align-content: center;
    padding: 13px;
}

#icon-boxes{
    background-color: #08681E;
}

#icon-boxes .icon-box{
    margin-top: -90px;
    background-color: #064514;
    z-index: 9999;
}

#icon-boxes .icon-box h4{
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}
#icon-boxes .icon-box p{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
}
#icon-boxes .sides{
    margin-top: 100px;
}
#icon-boxes .sides ol{
    list-style-type: none;
}
#icon-boxes .sides ol li{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}
#icon-boxes .tagline{
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

#icon-boxes .box-info{
    margin-left: 10%;
    align-items: center;
    width: 1200px;
    height: 296px;
    background: #064514;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    padding: 80px 10px 10px 0px;
}

#icon-boxes .box-info .container{
    margin-left: 30px;
}
#icon-boxes .box-info img{
    margin-top: -210px;
}

.about .content h2 {
    color: #000;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.about .content h2.linkan-title {
    color: #28A745;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.about .content h2 b {
    color: #FFA304;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.about .content p {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #354052;
}

.about .content h4 {
    text-align: justify;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
}

.why-us .content h3 {
    font-weight: 900;
    font-size: 26px;
    line-height: 46px;
    color: #354052;
}

.why-us .content p {
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #354052;
}

.services .section-title h2 {
    font-family: 'Rubik';
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #354052;
}

.services .section-title .filter {
    background-color: #E3EAEF;
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 1rem;
    padding: 8px;
}

.services .section-title .filter .filter-item {
    align-items: center;
    padding: 4px 10px;
    position: static;
    width: 146px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 20px 10px 8px 8px;
}

.services .icon-box h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.services .icon-box p {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #8F90A6;
}

.services .navbar-next {
    width: 500px;
    top: 0px;
    background: #669F2F;
    box-shadow: 0px 20px 50px rgba(47, 50, 125, 0.1);
    border-radius: 15px;
}

.services .navbar-next div {
    width: 60px;
    height: 60px;
    margin-top: 85%;
    margin-left: 15%;
    align-items: center;
}

.services .navbar-next b {
    margin-top: 50%;
}

.services .section-title #services-filters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    background-color: #E3EAEF;
}

.services .section-title #services-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #8F90A6;
    margin: 10px 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
}

.services .section-title #services-filters li:hover,
.services .section-title #services-filters li.filter-active {
    color: #064514;
    background: #FFFFFF;
}

.services .section-title #services-filters li:last-child {
    margin-right: 0;
}

.services p{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #354052;
}

#portfolio .portofolio-container #portfolio-side1 {
    height: 350px;
    left: 0px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}

#portfolio .portofolio-container #portfolio-side2 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}
#portfolio .portofolio-container #portfolio-side3{
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}
#portfolio .portofolio-container #portfolio-side4{
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}
#portfolio .portofolio-container #portfolio-side5{
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
        url(../img/layanan/layanan-5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
}

#portfolio .portofolio-container #portfolio-content {
    height: 350px;
    background: #396113;
    padding: 50px 10px 10px 20px;
}

#portfolio-content h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #FFFFFF;
}

#portfolio-content p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

#team .section-title h2{
    text-align: left;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #354052;
}
#team .section-title p{
    text-align: left;
    color: #354052;
}
.bg-lime{
    background-color: #E8F0E0;
    color: #E8F0E0;
}
.date-badge{
    float: right;
    align-items: flex-end;
    display: flex;
}
.bg-grey{
    background-color: #E3EAEF;
    color: #E3EAEF;
}
.text-lime{
    color: #396113;
}
.text-grey{
    color: #8F90A6;
}
.leading-berita{
    font-weight: bold;
    font-size: 20pt;
}
#footer .footer-divider{
    border-radius: 3px;
    height: 4px;
    left: 0px;
    top: 100.39px;
    background: #FFFFFF;
}

@media (max-width:400px) {

    #portfolio .portofolio-container #portfolio-side1 {
        height: 350px;
        background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
            url(../img/layanan/layanan-1.png);
    }

    #portfolio .portofolio-container #portfolio-side2 {
        height: 350px;
        background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)),
            url(../img/layanan/layanan-2.png);
    }

    #portfolio .portofolio-container #portfolio-content {
        height: 350px;
        background: #396113;
        padding: 50px 10px 10px 20px;
    }

    .services .navbar-next {
        width: 500px;
        top: 0px;
        background: #669F2F;
        box-shadow: 0px 20px 50px rgba(47, 50, 125, 0.1);
        border-radius: 15px;
    }

    .services .navbar-next div {
        width: 60px;
        height: 60px;
        margin-top: 45%;
        margin-left: 15%;
        align-items: center;
    }

    .services .navbar-next b {
        margin-top: 50%;
        font-family: 'Rubik';
        font-style: normal;
    }
}