/**
* Template Name: Anyar - v4.7.1
* Template URL: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: 'Rubik', sans-serif;
    color: #444444;
}

a {
    text-decoration: none;
    color: #0c773c;
}

a:hover {
    color: #2b99f8;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

.bghr{
    background: var(--warna);
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--warna);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: var(--warna);
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    display: block;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border-radius: 50%;
    border: 6px solid var(--warna);
    border-color: var(--warna) transparent var(--warna) transparent;
    width: 60px;
    height: 60px;
    -webkit-animation: progres 1s linear infinite;
    animation: progres 1s linear infinite;
}

@-webkit-keyframes progres {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes progres {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
    height: 60px;
    padding: 0;
    font-size: 14px;
    transition: all 0.5s;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
    z-index: 996;
}

#topbar.topbar-scrolled {
    top: -60px;
}

#topbar .contact-info a {
    line-height: 0;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    text-decoration: underline;
}

#topbar .contact-info i {
    color: #f6b024;
    line-height: 0;
    margin-right: 5px;
}

#topbar .contact-info .phone-icon {
    margin-left: 15px;
}

#topbar .cta {
    background: transparent;
}

#topbar .cta a {
    color: #fff;
    background: #f6b024;
    padding: 6px 24px 8px 24px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
}

#topbar .cta a:hover {
    background: #f1a40a;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
    /* background-color: var(--warna-header); */
    width: 100%;
}

#header.header-scrolled {
    background:var(--warna-header);
    top: 0;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #FFFAFA;
}

#header .logo img {
    max-height: 40px;
}

#header-tips {
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
    background-color: var(--warna-header);
    width: 100%;
}

#header-tips .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header-tips .logo a {
    color: #FFFAFA;
}

#header-tips .logo img {
    max-height: 40px;
}

.header-inner-pages {
    background: rgba(5, 87, 158, 0.9) !important;
}

.topbar-inner-pages {
    background: rgba(6, 98, 178, 0.9) !important;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--header-font);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}


/*.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}*/

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--header-font);
    border-color: var(--header-font);
    font-weight: bold;
    border-bottom: var(--header-font) solid;
    border-width: 2px;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #BD1F28;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 8px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: white;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #ffffff;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation
*/

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #f6b024;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
    .navbar .dropdown ul a {
        color: #0665b7;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #BD1F28;
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #BD1F28;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #0665b7;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #f6b024;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #f6b024;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Hero Index
--------------------------------------------------------------*/

#hero-index {
    max-width: 100%;
    max-height: 650px;
    overflow: hidden;
    background-size: cover;
    margin-top: -61px;
    position: relative;
    transition: 0.3s;
    z-index: 0;
    
}
#hero-index:before {
    content: "";
    background: rgba(106, 174, 121, 0.9);
    position: absolute;
}

#hero-index .caption {
    margin-top:  1px;
   
}

#hero-index .text-univ {
    color: var(--warna-univ);
}

#hero-index .text-title {
    color: var(--warna-title);
}

#hero-index .image {
    padding-left: 0px !important;
    max-width: 100%;
    max-height: 550px;
    background: var(--warna);
    opacity: 0.8;
}

#hero-index .carousel-indicators {
    padding-bottom: 0px !important;
}

#hero-index .text-tema {
    color: var(--warna);
}

#hero-index .carousel-bg {
    background: var(--warna);
    max-height: 100%;
    opacity: 0.8;
}

#hero-index .btn-login {
    padding: 5px 20.5px 5px 20.5px !important;
    border: 2px solid;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: var(--warna);
}

#hero-index .btn-login:hover {
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border : 4px solid;
    font-weight: bold;
    border-color: var(--warna);
    color: var(--warna) !important;
}

#hero-index h1 {
    font-weight: 100;
    font-size: 40px;
    line-height: 120%;
    color: #fff;
  
}

/* #hero-index p {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
} */

#hero-index .btn-get-started {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #FFFFFF;
}

#hero-index .btn-get-started:hover {
    background: #FFA304;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}

@media (min-width: 769px) {
    #hero-index .caption {
        padding-left: 50px !important;
        padding-bottom: 100px !important;
        padding-top: 0px !important;
    }
    #hero-index .img-fluid {
        width: 100%;
        /* height: 700px; */
    }
}

@media (max-width: 768px) {
    #hero-index .caption {
        padding-top: 90px;
        padding-left: 0px !important;
        padding-right: 30px;
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    /* height: 100%; */
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-color: #064514;
    position: relative;
    transition: 0.3s;
}

#heroCarousel {
    margin-left: 60px;
    z-index: 0;
}

#hero:before {
    content: "";
    background: rgba(6, 69, 20, 0.9);
    position: absolute;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px 0px 100px 0px;
}

#hero h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 30px;
}

#hero p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0px 0px 30px 0px;
    color: #fff;
}

#hero .btn-get-started {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #FFFFFF;
}

#hero .btn-get-started:hover {
    background: #FFA304;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px),
(max-height: 700px) {
    #hero {
        height: 120vh;
        padding: 100px 0;
    }
    #heroCarousel {
        margin-left: 70px;
        z-index: 0;
    }
    #hero h2 {
        font-size: 28px;
    }
    #hero-index h2 {
        font-size: 28px;
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* #hero-jadwal { */
    /* max-width: 100%; */
    /* max-height: 650px; */
    /* overflow: hidden; */
    /* position: relative; */
    /* background-size: cover; */
    /* background-image: url('../img/tracer_alumni/image98.png'); */
    /* position: relative; */
    /* transition: 0.3s; */
/*  */
/* } */

#hero-jadwal {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-image: url('../img/tracer_alumni/Hero.png');
    object-fit: cover;
    
    position: relative;
    transition: 0.3s;
}
#hero-dua {
    background: var(--warna);
    margin-top: -50px;
    width: 100%;
}



#hero-jadwal .bg {
    background: var(--warna);
    opacity:0.8;
    height: 200%;
    width: 100%;
}

#hero-cek {
    height: auto;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-image: url('../img/tracer_alumni/Hero1.png');
    object-fit: cover;
    position: relative;
    transition: 0.3s;
}

#hero-cek .bg {
    background: var(--warna);
    opacity:0.8;
    width: 100%;
}


/* #hero-jadwal:before { */


/* content: ""; */


/* background: rgba(6, 69, 20, 0.9); */


/* position: absolute; */


/* bottom: 0; */


/* top: 0; */


/* left: 0; */


/* right: 0; */


/* } */

#hero-jadwal .carousel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 120px 0px 10px 0px;
}

#hero-jadwal h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 30px;
}

#hero-jadwal p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0px 0px 30px 0px;
    color: #fff;
}

@media (min-width: 1024px) {
    #hero-jadwal .carousel-control-prev,
    #hero-jadwal .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px),
(max-height: 700px) {
    #hero-jadwal {
        padding: 0px 0;
    }
    #hero-jadwal h2 {
        font-size: 28px;
    }
}

#jadwal-tracer .btn-login {
    padding: 5px 20.5px 5px 20.5px !important;
    border: 2px solid;
    border-radius: 7px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: var(--warna);
}

#jadwal-tracer .btn-login:hover {
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 7px;
    border-color: var(--warna);
    color: var(--warna) !important;
}

#hero-cek .carousel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 120px 0px 10px 0px;
}

#hero-cek h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 30px;
}

#hero-cek p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0px 0px 30px 0px;
    color: #fff;
}

@media (min-width: 1024px) {
    #hero-cek .carousel-control-prev,
    #hero-cek .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px),
(max-height: 700px) {
    #hero-cek {
        padding: 0px 0;
    }
    #hero-cek h2 {
        font-size: 28px;
    }
}


/*--------------------------------------------------------------
# Hero2 Section
--------------------------------------------------------------*/

#hero2 {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    background: url("../img/alumni/pattern-hero.png") top center;
    background-size: cover;
    position: relative;
    background-color: #064514;
    transition: 0.3s;
}

#hero2:before {
    content: "";
    background: rgba(6, 69, 20, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero2 .deskripsi {
    padding-left: 108px;
    padding-right: 80px;
}

#hero2 h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#hero2 p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
}

#hero2 .carousel-control-prev,
#hero2 .carousel-control-next {
    width: 10%;
}

#hero2 .carousel-control-next-icon,
#hero2 .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero2 .img-leading {
    padding-top: 50px;
    width: 100%;
    height: 700px;
    display: block;
}

@media (min-width: 1024px) {
    #hero2 p {
        width: 100%;
    }
    #hero2 .carousel-control-prev,
    #hero2 .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 540px) {
    #hero2 h2 {
        font-size: 28px;
    }
    #hero2 {
        padding-top: 200px;
        padding-bottom: 0px;
    }
    #hero2 .deskripsi {
        padding-left: 70px;
        padding-right: 70px;
    }
}

/*--------------------------------------------------------------
# alur pengisian tracer study
--------------------------------------------------------------*/
.tracer {
    margin-top: -140px;
    background-color: #FFFFFF;
    z-index: -1;
}

.navs .buat-akun{
    font-weight: 600;
    color: var(--warna);
    
}

.navs .bg-tahun {
    background-image: url('../img/landingpage/bg-tahun.png');
    width: 100%;
    height: 100%;
}

.navs .bg-navs {
    background-image: url('../img/landingpage/bg-lan.png');
    margin-bottom: -57px;
}

.navs .text-tema {
    color: var(--warna);
}

.navs {
    background: var(--warna);
}


#navs .card-body .bg{
    max-width: 60px;
	max-height: 75px;
    background: var(--warna);
    border-radius: 100%;
}

.navs .card-1{
    box-shadow: 0px 0px 5px 5px rgb(226, 226, 226);
    height: 100%;
    border-radius: 16px;
}

.navs .card-1:hover {
    box-shadow: 0px 0px 25px 10px rgb(207, 207, 207);
    height: 100%;
    border-radius: 16px;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.navs h5 {
    font-weight: bold;
}

.navs .icon-box {
    padding: 1px 20px;
    position: relative;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.1s ease-in-out;
    border-radius: 30px;
}




.tracer .text-tema{
    color: var(--warna);
}

/*--------------------------------------------------------------
# LAPORAN TRACER STUDY
--------------------------------------------------------------*/
.laporan .btn-laporan{
    background: var(--warna);
}

/*--------------------------------------------------------------
# GREETING
--------------------------------------------------------------*/
#greeting .img{
    max-width: 70%;
    max-height: 350px;
    margin-left: 40%;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
}

.section-bg {
    background-color: #f1f8ff;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    color: #354052;
}

.section-title h2 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
}

.section-title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
}


/*--------------------------------------------------------------
# Icon Boxes
--------------------------------------------------------------*/

.icon-boxes {
    margin-top: -20px;
    background-color: #FFFFFF;
    z-index: -1;
}

.icon-boxes .icon-box {
    padding: 40px 30px;
    position: relative;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.1s ease-in-out;
    border-radius: 30px;
}

.icon-boxes .icon {
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
}

.icon-boxes .icon i {
    font-size: 36px;
    line-height: 1;
    color: #f6b024;
}

.icon-boxes .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.icon-boxes .title a {
    color: #05579e;
}

.icon-boxes .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: #777777;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

.about {
    margin: 124px 120px 0px 120px;
    position: relative;
    padding: 0 0 125px 0;
}

.about .container {
    position: relative;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #064514;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .about {
        margin: 31px 0px 0px 0px;
        position: relative;
    }
}


/*--------------------------------------------------------------
# Video Pengenalan
--------------------------------------------------------------*/

.video-pengenalan .bg{
    background: url(../img/background/Video-pengenalan.png);
    width: 100%;
    height: auto;
}

.video-pengenalan .icon-box {
    padding: 40px 40px; 
    background: var(--warna);
    opacity: 0.9;
    height: 100%;
    color: #FFFFFF;
}


/*--------------------------------------------------------------
# jadwal Us
--------------------------------------------------------------*/

.jadwal {
    margin: 50px 120px 0px 120px;
    position: relative;
    padding: 0 0 125px 0;
}

.jadwal .card {
    margin: 10px 0px 10px 0px;
    color: #354052;
}

.jadwal .card-header {
    background-color: #fff;
}

.jadwal .card-title h3 {
    font-weight: 600;
    font-size: 26px;
}

.jadwal label {
    margin: 5px 0px 5px 0px;
}

.jadwal a {
    margin: 3px 0px 3px 0px;
}

.jadwal .content ul li+li {
    margin-top: 10px;
}

.jadwal .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #064514;
    line-height: 1;
}

.jadwal .content p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .jadwal {
        margin: 31px 50px 0px 50px;
        position: relative;
    }
}


/*--------------------------------------------------------------
# Pengisian kuesioner
--------------------------------------------------------------*/

.pengisian-kuesioner .card {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    border-radius: 14px;
}

.pengisian-kuesioner .card:hover {
    background-color: var(--warna);
    color: #FFFFFF;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.pengisian-kuesioner .btn-login {
    padding: 5px 20.5px 5px 20.5px !important;
    border: 2px solid;
    border-radius: 7px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: var(--warna);
}

.btn-login:hover {
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 7px;
    border-color: var(--warna);
    color: var(--warna) !important;
}

.isian-kuesioner .card {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    border-radius: 14px;
}

.isian-kuesioner .card:hover {
    background-color: var(--warna);
    color: #FFFFFF;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.isian-kuesioner .btn-login {
    padding: 5px 20.5px 5px 20.5px !important;
    border: 2px solid;
    border-radius: 7px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: var(--warna);
}

.btn-login:hover {
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 7px;
    border-color: var(--warna);
    color: var(--warna) !important;
}


/*--------------------------------------------------------------
# kuesioner
--------------------------------------------------------------*/

.kuesioner {
    margin: 100px 15px 0px 15px;
    position: relative;
    padding: 0 0 125px 0;
}

.kuesioner label {
    margin: 5px 0px 5px 0px;
}

.kuesioner .question {
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 992px) {
    .kuesioner {
        margin: 31px 0px 0px 0px;
        position: relative;
    }
}

.visi {
    background: linear-gradient(180deg, #DA131F 0%, #8F1B22 100%);
    ;
    color: #FFFFFF;
    width: 100%;
    height: 420px;
}

.program {
    padding: 140px 0;
    /* background: url("../img/program-bg.png") top center no-repeat; */
    position: relative;
}

.program:before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.program .container {
    position: relative;
}

.program .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.program .content ul {
    list-style: none;
    padding: 0;
}

.program .content ul li {
    padding-left: 28px;
    position: relative;
}

.program .content ul li+li {
    margin-top: 10px;
}

.program .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #064514;
    line-height: 1;
}

.program .content p:last-child {
    margin-bottom: 0;
}

.program .content .btn-learn-more {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #064514;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #064514;
}

.program .content .btn-learn-more:hover {
    background: #064514;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 992px) {
    .program {
        padding: 60px 0;
    }
}


/*--------------------------------------------------------------
# Slider mitra
--------------------------------------------------------------*/
#mitra .card{
    
  
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.426);
    
}

#mitra .garis_vertikal{
    border-left: 3px rgb(172, 172, 172) solid;
    height: 160px;
    width: 0px;
    }
#mitra .text-tema {
    color: var(--warna);
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/



/* .alumni-berprestasi .card {
    padding: 0px 0px 0 0px;
} */

.alumni-berprestasi .section-title {
    text-align: left;
    padding-bottom: 30px;
    color: #354052;
}

.alumni-berprestasi .slider-alumni{
    position: relative;
    
}

.alumni-berprestasi .slider-alumni:hover .overlay {
    opacity: 1;
}

@media (max-width: 1024px) {
    .alumni-berprestasi {
       
        padding: 0px 0px 0px 0px;
    }
    .alumni-berprestasi .content,
    .alumni-berprestasi .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .alumni-berprestasi .content {
        padding-top: 30px;
    }
    .alumni-berprestasi .accordion-list {
        padding-bottom: 30px;
    }
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.pekerjaan-impian .icon-box {
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.pekerjaan-impian .icon-box i {
    float: left;
    color: #f6b024;
    font-size: 40px;
    line-height: 0;
}

.pekerjaan-impian .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.pekerjaan-impian .icon-box h4 a {
    color: #05579e;
    transition: 0.3s;
}

.pekerjaan-impian .icon-box h4 a:hover {
    color: #064514;
}

.pekerjaan-impian .icon-box p {
    /* margin-left: 70px; */
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.pekerjaan-impian .perusahaan {
    float: left;
    overflow: hidden;
    display: none;
    /* Hidden by default */
}

.pekerjaan-impian .show {
    display: block;
}

.pekerjaan-impian .section-title .filter {
    background-color: #E3EAEF;
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 1rem;
    padding: 8px;
}

.pekerjaan-impian .section-title .filter .filter-item {
    align-items: center;
    padding: 4px 10px;
    position: static;
    width: 146px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 20px 10px 8px 8px;
}

.pekerjaan-impian .icon-box h3 {
    font-family: 'Rubik';
    font-style: sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.pekerjaan-impian .icon-box p {
    font-family: 'Rubik';
    font-style: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #8F90A6;
}

.pekerjaan-impian .section-title #pekerjaan-impian-filters {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    background-color: #E3EAEF;
}

.pekerjaan-impian .section-title #pekerjaan-impian-filters button {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #8F90A6;
    margin: 10px 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    border-radius: 4px;
    border-width: 0px;
}

.pekerjaan-impian .section-title #pekerjaan-impian-filters button:hover,
.pekerjaan-impian .section-title #pekerjaan-impian-filters button.active {
    color: #2B3143;
    background: #FFFFFF;
    border-width: 0px;
    border-radius: 4px;
}

.pekerjaan-impian .section-title #pekerjaan-impian-filters button:last-child {
    margin-right: 0;
}


/*--------------------------------------------------------------
# Kuesioner
--------------------------------------------------------------*/

#btn {
    width: 200px;
    font-size: 16px;
}

.rounded-circle {
    width: 190px;
    height: 190px;
    margin-left: 5px;
}

#foto {
    margin-right: 100px;
}

#nama {
    padding-left: 25px;
}

.kuesioner .icon-box {
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.kuesioner .icon-box i {
    float: left;
    color: #f6b024;
    font-size: 40px;
    line-height: 0;
}

.kuesioner .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.kuesioner .icon-box h4 a {
    color: #05579e;
    transition: 0.3s;
}

.kuesioner .icon-box h4 a:hover {
    color: #064514;
}

.kuesioner .icon-box p {
    /* margin-left: 70px; */
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.kuesioner .perusahaan {
    float: left;
    overflow: hidden;
    display: none;
    /* Hidden by default */
}

.kuesioner .show {
    display: block;
}

#biodata {
    background-color: #ffffff;
    width: 1200px;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); */
    /* border: 2px solid black; */
    margin: center;
    margin-top: 150px;
}

.kuesioner .section-title .filter {
    background-color: #E3EAEF;
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 1rem;
    padding: 8px;
}

.kuesioner .section-title .filter .filter-item {
    align-items: center;
    padding: 4px 10px;
    position: static;
    width: 146px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 20px 10px 8px 8px;
}

.kuesioner .icon-box h3 {
    font-family: 'Rubik';
    font-style: sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.kuesioner .icon-box p {
    font-family: 'Rubik';
    font-style: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #8F90A6;
}

.kuesioner .section-title #kuesioner-filters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    background-color: #E3EAEF;
}

#kuesioner .text-tema {
    color: var(--warna);
}

.kuesioner .section-title #kuesioner-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #8F90A6;
    margin: 10px 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
}

.kuesioner .btn-login {
    padding: 5px 20.5px 5px 20.5px !important;
    border: 2px solid;
    border-radius: 7px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: var(--warna);
}

.btn-login:hover {
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 7px;
    border-color: var(--warna);
    color: var(--warna) !important;
}

.kuesioner .section-title #kuesioner-filters li:hover,
.kuesioner .section-title #kuesioner-filters li.filter-active {
    color: #064514;
    background: #FFFFFF;
}

.kuesioner .section-title #kuesioner-filters li:last-child {
    margin-right: 0;
}


/*bg*/

.btn-perusahaan {
    background-color: #E3EAEF;
    color: #8F90A6;
}

.btn-perusahaan:hover {
    background-color: #669F2F;
    color: white;
}

.navbar .btn-login-1 {
    padding: 5px 20.5px 5px 20.5px !important;
    border: 2px solid;
    border-radius: 10px;
    color: var(--header-font);
    border-color: var(--header-font);
    background-color: var(--warna-header);
}

.navbar .btn-login-1:hover {
    background-color: var(--header-font);
    border: 2px solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-color: var(--header-font) !important;
    color: var(--warna-header) !important;
}

.navbar .btn-login {
    padding: 5px 20.5px 5px 20.5px !important;
    border: 2px solid;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: var(--header-font);
    border-color: var(--header-font);
    background-color: var(--warna-header);
}

.navbar .btn-login:hover {
    background-color: var(--header-font);
    border: 2px solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-color: var(--header-font) !important;
    color: var(--warna-header) !important;
}

.bg-green-y {
    background-color: #E8F0E0;
    color: #396113;
}

.btn-secondary,
.btn-secondary.disabled {
    box-shadow: 0 2px 6px #e1e5e8;
    background-color: #669F2F;
    border-color: #E3EAEF;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 19px;
}

.btn-light,
.btn-light.disabled {
    box-shadow: 0 2px 6px #e6ecf1;
    background-color: #FFFFFF;
    border-color: #064514;
    color: #191d21;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.disabled:hover,
.btn-light.disabled:focus,
.btn-light.disabled:active {
    background-color: #c5dcc3 !important;
}


/* card */

.i {
    box-shadow: 0px 4px 12px rgba(137, 137, 137, 0.25);
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}


/*--------------------------------------------------------------
# Portfoio
--------------------------------------------------------------*/

#layanan .layanan-container #layanan-side1 {
    height: 350px;
    left: 0px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-side2 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-side3 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-side4 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-side5 {
    height: 350px;
    background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#layanan .layanan-container #layanan-content {
    height: 350px;
    background: #396113;
    padding: 40px 57px 80px 56px;
    font-family: 'Rubik';
    font-style: sans-serif;
    color: #FFFFFF;
}

#layanan-content h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
}

#layanan-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

#layanan-content .btn-layanan {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 10px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

#layanan-content .btn-layanan:hover {
    background: #FFA304;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}
/*--------------------------------------------------------------
# Agenda
--------------------------------------------------------------*/
.agenda .text-tema{
    color: var(--warna);
}

/*--------------------------------------------------------------
# berita
--------------------------------------------------------------*/
.berita .text-tema{
    color: var(--warna);
}

.bg-lime {
    background-color: #E8F0E0;
    color: #E8F0E0;
}

.date-badge {
    float: right;
    align-items: flex-end;
    display: flex;
}

.bg-grey {
    background-color: #E3EAEF;
    color: #E3EAEF;
}

.text-lime {
    color: #396113;
}

.text-grey {
    color: #8F90A6;
}

.leading-berita {
    font-weight: bold;
    font-size: 20pt;
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

#faq .btn-login {
    border-top-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    font-weight: bold;
    color: #000000;
    background-color: #eeeeee;
}

#faq .btn-login:hover {
    background-color: var(--warna);
    border: 2px solid;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border-color: var(--warna);
    color: #ffffff !important;
}

.faq .faq-list {
    padding: 0 100px;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #75bdfa;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #343a40;
}

.faq .faq-list a.collapsed:hover {
    color: #064514;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}


/*--------------------------------------------------------------
Verifikasi Alumni
# Banner
--------------------------------------------------------------*/

#banner {
    background-color: #064514;
    color: #FFFFFF;
}

#banner .container-banner {
    margin-right: 0px;
    margin-left: 120px;
    padding-right: 0px;
}

#banner h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

#banner p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

#banner .btn-get-started {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #FFFFFF;
}

#banner .btn-get-started:hover {
    background: #FFA304;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}


/*--------------------------------------------------------------
# Alur Pengajuan
--------------------------------------------------------------*/

#alur-pengajuan .section-tittle h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #354052;
}

#alur-pengajuan .section-tittle p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #354052;
}

#alur-pengajuan .card-langkah {
    background: rgba(102, 159, 47, 0.12);
    border-radius: 16px;
    padding: 10px 16px;
    margin: 20px 0px;
}

#alur-pengajuan .card-langkah img {
    padding-right: 10px;
}

#alur-pengajuan .card-langkah h2 {
    font-weight: 1000;
    font-size: 20px;
    line-height: 160%;
    color: #354052;
}

#alur-pengajuan .penjelasan p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #354052;
}

#alur-pengajuan .penjelasan a {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #89C64C;
    text-decoration: underline;
}

#alur-pengajuan .badge {
    width: 36px;
    height: 36px;
    background-color: #FFA304;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    padding-top: 3px;
}


/*--------------------------------------------------------------
# Form Pengajuan
--------------------------------------------------------------*/

#form-pengajuan {
    background-color: #F5F5F5;
    padding-bottom: 325px;
}

#form-pengajuan .section-tittle h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #354052;
}


/*--------------------------------------------------------------
# Form Pengajuan
--------------------------------------------------------------*/

#data-alumni {
    height: auto;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-color: #064514;
    position: relative;
    transition: 0.3s;
}

#data-alumni h2 {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-weight: 700;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    color: #fff;
    font-size: 14px;
}

#footer .footer-newsletter {
    padding: 50px 0;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    margin: 3px;
    background: #f6b024;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #064514;
}

#footer .footer-top {
    background: url(../img/footer/bg-footer.png);
}

#footer .footer-top-bg {
    background: var(--warna-footer);
}

#footer .footer-top .img {
    width: 120px;
    height: 100px;
}

#footer .footer-top-bg {
    background: var(--warna-footer);
}

#footer .text-footer {
    color: var(--footer-font);
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    /*background: #FFA304;*/
    color: #FFA304;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: var(--footer-font);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #5db1f9;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--footer-font);
    transition: 0.3s;
    display: inline-block;
}

#footer .footer-top .footer-links ul a:hover {
    color: #FFA304;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: var(--footer-font);
}

#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #f6b024;
}

#footer .footer-divider {
    border-radius: 3px;
    height: 4px;
    left: 0px;
    top: 100.39px;
    background: #FFFFFF;
}

@media (max-width:400px) {
    /*hero*/
    #hero .carousel-container {
        margin-top: 0px;
    }
    /*laporan*/
    #laporan {
        padding-top: 100px;
        background: #FFFFFF;
    }
    #laporan .icon-box {
        background: rgba(6, 69, 20, 0.9);
    }
    .img-mitra {
        width: 13%;
    }
    /*penjelasan*/
    #penjelasan {
        margin-top: -650px;
        background-color: #08681E;
        color: #FFFFFF;
    }
    #penjelasan .apts.container.sides {
        padding-top: 554px;
    }
    #layanan .layanan-container #layanan-side1 {
        height: 350px;
        background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-1.png);
    }
    #layanan .layanan-container #layanan-side2 {
        height: 350px;
        background: linear-gradient(0deg, rgba(57, 97, 19, 0.3), rgba(57, 97, 19, 0.3)), url(../img/layanan/layanan-2.png);
    }
    #layanan .layanan-container #layanan-content {
        height: 350px;
        background: #396113;
        padding: 50px 10px 10px 20px;
    }
}

.btn-primary,
.btn-primary.disabled {
    box-shadow: 0 2px 6px #acb5f6;
    background-color: #396113;
    border-color: #669F2F;
}

.btn-primary:focus,
.btn-primary.disabled:focus {
    background-color: #669F2F !important;
}

.btn-primary:focus:active,
.btn-primary.disabled:focus:active {
    background-color: #669F2F !important;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary.disabled:active,
.btn-primary.disabled:hover {
    background-color: #669F2F !important;
}

.btn-success,
.btn-success.disabled {
    box-shadow: 0 2px 6px #76bc35;
    background-color: #669F2F;
    border-color: #71bc2a;
    color: #fff;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active {
    background-color: #76bc35 !important;
    color: #fff !important;
}

.lowongan .owl-item .card {
    width: 100%;
    height: auto;
}

.img-mitra {
    max-width: 100%;
    max-height: 50%;
}

.img-upt {
    width: auto;
    max-height: 10rem;
    min-height: 10rem;
}

.img-kerja {
    width: auto;
    max-height: 3rem;
    min-height: 3rem;
}

.body-kerja {
    width: auto;
    max-height: 13rem;
    min-height: 13rem;
}

.img-magang {
    width: auto;
    max-height: 3rem;
    min-height: 3rem;
}

.body-magang {
    width: auto;
    max-height: 11rem;
    min-height: 11rem;
}

.text-magang {
    font-size: 1vw;
}

.text-kerja {
    font-size: 1vw;
}

.text-waktu-agenda {
    font-size: 1vw;
}

.text-isi-agenda {
    font-size: 1vw;
}

.img-layanan {
    width: auto;
    max-height: 5rem;
    min-height: 4rem;
}

.br-mge {
    width: 200px;
    height: 160px;
}

.br-mg>.img-layanan_keuangan {
    width: 200px;
    height: 160px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .text-magang {
        font-size: 3vw;
    }
    .text-kerja {
        font-size: 3vw;
    }
    .body-magang {
        width: auto;
        max-height: 17rem;
        min-height: 17rem;
    }
    .body-kerja {
        width: auto;
        max-height: 17rem;
        min-height: 17rem;
    }
    .text-waktu-agenda {
        font-size: 3vw;
    }
    .text-isi-agenda {
        font-size: 2vw;
    }
}

@media (max-width: 600px) {
    .text-magang {
        font-size: 3vw;
    }
    .text-kerja {
        font-size: 3vw;
    }
    .text-waktu-agenda {
        font-size: 4vw;
    }
    .text-isi-agenda {
        font-size: 3vw;
    }
    .body-magang {
        width: auto;
        max-height: 13rem;
        min-height: 13rem;
    }
    .body-kerja {
        width: auto;
        max-height: 13rem;
        min-height: 13rem;
    }
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #669F2F !important;
}


/*--------------------------------------------------------------
# Alumni baru update
--------------------------------------------------------------*/

.alumni-update .bg {
    background: url(../img/alumni-update/bg.png);
    width: 100%;
    height: 650px;
}

.alumni-update .img{
    max-width: 100%;
    max-height: 300px;
}

.alumni-update .bg-color {
    background: var(--warna);
    opacity: 0.9;
    height: 100%;
}

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#testimonials-list .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#testimonials-list .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}

#testimonials-list .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

#testimonials-list .owl-carousel .owl-item img {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    max-width: 50px;
    max-height: 10px;
    border-radius: 50%;
    margin: 0 auto px;
}

#testimonials-list.owl-carousel .owl-dots .owl-dot.active span,
#testimonials-list.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    -webkit-transform: translate3d(0px, -50%, 0px) scale(0.7);
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#testimonials-list.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#testimonials-list.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}


/* #testimonials-list.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    -webkit-transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
} */