#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#loading:before {
  content: "";
  position: fixed;
  display: block;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border-radius: 50%;
  border: 6px solid var(--warna);
  border-color: var(--warna) transparent var(--warna) transparent;
  width: 60px;
  height: 60px;
  -webkit-animation: progres 1s linear infinite;
  animation: progres 1s linear infinite;
}

@-webkit-keyframes progres {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes progres {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
  /* [THE LOADING SPINNER] */
#spinner-front, #spinner-back {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: all 1s;
}
#spinner-front {
  z-index: 999;
  margin-top: 25vh;
  color: #fff;
  text-align: center;
}
#spinner-back {
  z-index: 998;
  height: 100vh;
  background: #000;
}
#spinner-front.show {
  visibility: visible;
  opacity: 1;
}
#spinner-back.show {
  visibility: visible;
  opacity: 0.7;
}

/* [DUMMY PAGE STYLES - YOU CAN IGNORE THESE] */
html, body {
  font-family: arial;
  padding: 0;
  margin: 0;
}
#page-header {
  padding: 10px;
  background: #ffdddd;
}
#page-body {
  padding: 15px;
}
#page-footer {
  padding: 10px;
  background: #edf9d9;
}